<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron justify-content-center">
  <h1 class="display-4">Recipes</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4 class="pb-5">Portuguese Tarlet Recipe</h4>

      <h6>Ingredients</h6>
      <ol>
          <li>Sugar Syrup</li>
          <li>1 3-4-in cinnamon stick</li>
          <li>1/2 cup sugar</li>
          <li>1/2 cup water</li>
          <li>Filling</li>
          <li>1/3 cup all-purpose flour</li>
          <li>1/8 tsp kosher salt</li>
          <li>1 1/2 cups whole milk, divided</li>
          <li>6 large egg yolks</li>
          <li>1 tsp vanilla extract</li>
          <li>Puff pastry sheet</li>
      </ol>

      <h6>Prep</h6>
      <ol>
        <li>Thaw puff pastry if in the freezer for 40mins, fridge OKAY</li>
        <li>Preheat the oven to 400F, tack in the middle of the oven</li>
        <li>Peel zest from half a lemon with a vegetable peeler, put it aside</li>
      </ol>

      <h6>For the Syrup</h6>
      <ol>
        <li>Bring cinnamon, sugar, and water to boil in a small saucepan </li>
        <li>Boil for 1-2mins or 225F if you have a thermometer</li>
        <li>Remove from heat and stir in the reserved lemon peel</li>
        <li>Sit 30 mins</li>
      </ol>

      <h6>For the Egg Custard Filling</h6>
      <ol>
        <li>Whisk flour, salt, and 1/2 cup milk in a bowl until no lumps remain</li>
        <li>Heat remaining cup of milk in a saucepan over medium-high heat til it begins to boil, about 5 mins</li>
        <li>Remove the hot milk from heat and whisk into flour mixture</li>
        <li>Return the mixture to saucepan over medium heat and cook, stir occasionally, until thick, creamy, and smooth, about 5 mins</li>
        <li>Strain sugar syrup through a fine-mash sieve into hot milk mixture and whisk to combine</li>
        <li>Whisk in egg yolks and vanilla</li>
      </ol>

      <h6>Assembly</h6>
      <ol>
        <li>Cut chilled puff pastry dough to whatever the shape of your baking container is like</li>
        <li>Lightly sprayed the baking containers if you buy the puff pastry from store</li>
        <li>Using your thumbs and fingers, press edges of dough against sides of cup, turning pan as you go, until dough comes halfway up sides of cup and is about 1/16" thick (or as thin as you can get it). Repeat twice more with remaining dough slices. (DO NOT PRESS TOO MUCH if you want them to be flaky)</li>
        <li>Filling each pastry shell 3/4th way up the sides</li>
      </ol>

      <h6>Bake!</h6>
      <ol>
        <li>Bake in oven for 15 minutes (for the size of 10oz custard cups, increase time to 20minutes if size doubles) </li>
      </ol>

    </div>
  </div>
</div>


